[Desktop Entry]
Type=Application
Name=AutoRecon
Comment=Ferramenta de reconhecimento automatizado
Exec=/bin/bash {PROJECT_DIR}/launcher/launch_autorecon.sh
Icon={PROJECT_DIR}/launcher/icons/autorecon.png
Terminal=false
Categories=Utility;Security;